<div class="col-md-12">
               <form role="form" [formGroup]="vaccination" >
                <div class="form-group">
                  <div class="col-sm-2">
                    <label for="inputEmail3" class="control-label">Vaccine Name</label>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" formControlName="injectType" name="injectType"  placeholder="Type.." class="form-control">
                    <a type="Add" class="btn btn-success" (click)="assign()">Add</a>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="col-sm-8" style="float:right;">
                    <ul *ngIf='injection' class="list-group">
                      <li class="list-group-item">{{injection}}
                        <a class="btn btn-danger btn-xs" style="float:right;" (click)="remove()">Remove</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div>
                  <div class="col-sm-12">
                    <div class="col-sm-12" style="float:right;">
                      <ul class="list-group">
                        <li class="list-group-item">Cautious for Vaccine</li>
                      </ul>
                    </div>
                  </div>
                </div>
                    <div class="col-sm-12">
                    <div class="col-sm-12" style="float:right;">
                      <ul class="list-group">
                        <input type="text" formControlName="remarks" name="remarks"  placeholder="Remarks.." class="form-control">
                      </ul>
                    </div>
                  </div>
                <div>

                </div>


              </form>
              <button class="btn btn-primary" type="submit" (click)="given()" style="float:right;" >Given</button>
            </div>