<div class="col-md-12">
              <form class="form-horizontal" role="form">
                <div class="form-group">
                  <div class="col-sm-2">
                    <label for="inputEmail3" class="control-label">Vaccine Name</label>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" placeholder="Type.." class="form-control">
                    <button type="Add" class="btn btn-success">Add</button>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="col-sm-8" style="float:right;">
                    <ul class="list-group">
                      <li class="list-group-item">Vaccine Name
                        <a class="btn btn-danger btn-xs" style="float:right;">Remove</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div>
                  <div class="col-sm-12">
                    <div class="col-sm-12" style="float:right;">
                      <ul class="list-group">
                        <li class="list-group-item">Cautious for Vaccine</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </form>
              <a class="btn btn-primary" style="float:right;">Given</a>
            </div>