
<div class="row"></div>
<div class="section">
      <div class="container">
        <h2>Immunization table</h2>
        <div class="row">
          <div class="col-md-12">
            <table class="table">
              <thead>
                <tr>
                  <!--<th>Age</th> -->
                  <th>Type of Vaccine</th>
                  <th>Date</th>
                  <th>Batch No</th>
                  <th>Adverse effects</th>
                </tr>
              </thead>
              <tbody  >
                <tr *ngFor="let vaccine of immunization" >
                 <!-- <td *ngIf="vaccine">{{vaccine.ageGiven}}</td> -->
                  <td *ngIf="vaccine">{{vaccine.injectionName}}</td>
                  <td *ngIf="vaccine">{{vaccine.date}}</td>
                  <td></td>
                  <td *ngIf="vaccine">{{vaccine.remarks}}</td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>




    <router-outlet></router-outlet>