
<head>
  <base href="/">
</head>
<body style="background-color:#f93636">
  
<div class ="section" >
  <div class ="container-fluid">
  <div class="page-header">

       <div>
        <img class="img-responsive" src="./images/Healo.jpg" alt="Chania" style="width:148px ;height: 99px">
        </div>

    </div>

       
         
         <!-- <app-mothernev></app-mothernev>-->
                
    </div>
</div>

<div class="col-md-12 col-xs-12 col-sm-12" style="top:50px " >
     <router-outlet></router-outlet>
</div>
<!--<div class="col-md-12 col-xs-12 col-sm-12" style="min-height: 1550px; top:50px " >
     

 </div>
      
  <footer class="section section-primary col-md-12 col-xs-12 col-sm-12" style="position: relative; bottom:10px;  background-color:#f93636 ">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <h1>HealO+</h1>
            <p>copyrights 2017</p>
          </div>
          <div class="col-sm-6">
            <p class="text-info text-right">
              <br>
              <br>
            </p>
            <div class="row">
              <div class="col-md-12 hidden-lg hidden-md hidden-sm text-left">
                <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 hidden-xs text-right">
                <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>-->

</body>  