<div style="background-color: white;">
  
      <div class="section">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <ul class="nav nav-pills">
                <h1>Midwife</h1>
                <h3>Full Name</h3>
                <li class="active">
                  <a href="#">Home</a>
                </li>
                <li>
                  <a href="#">change role</a>
                </li>
                <li>
                  <a href="#">logout</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
   
 
      <br>
    <div class="section" >
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">
            <div class="col-md-12">
                   <ul class="list-group">
                      <a [routerLink]="['dashboard']" ><li class="list-group-item"><h4>Dashboard</h4> </li></a>
                      <a [routerLink]="['stat']" routerLinkActive="active"><li class="list-group-item"><h4>Statistics</h4></li></a>
                     
                      <a [routerLink]="['schedule']" routerLinkActive="active"><li class="list-group-item"><h4>Scedule</h4></li></a>
                      <a [routerLink]="['messages']" routerLinkActive="active"><li class="list-group-item"><h4>Send a Message</h4></li></a>
                      <a [routerLink]="['searchchild']" routerLinkActive="active"><li class="list-group-item"><h4>Search Children</h4></li></a>
                   <!--   <a [routerLink]="['contacts']" routerLinkActive="active"><li class="list-group-item"><h4>Contacts</h4></li></a>
                      -->
                   </ul>

            </div>
          </div>
        
         
         
      
              <div class="container-fluid" > 
                  <div class="col-md-8" style="background-color:white;">
                     <router-outlet></router-outlet>
                  
                      
                    

                </div>
            </div>
         </div>  
      </div>
    </div>     
   
        <div class="section" >
          <!--child component-->
        

        </div>
 
    
</div>