
        <div class="container">  
            <h1>Dashboard</h1>
            <h1></h1>
            <div class="col-md-5">
             <div class="thumbnail">
                  <img  src="..\..\..\images\profile_pic\Mother\mother1.jpg" class="img-responsive img-rounded">
                  <div class="caption">
                  <a href="#"><h4>Health Status</h4></a>
                  <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" style="width: 60%;">60% Healthy</div>
                  </div>
                  <h4>Weight</h4>
                  <h5>56 kg</h5>
                  <h4>Height</h4>
                  <h5>5.3 feet</h5>
                </div>
              </div>  
             </div> 
            <div class="col-md-6">
              <ul class="list-group"  >
                <li class="list-group-item">Age : <p style="text-align: right; ">34 </p></li>
                <li class="list-group-item">No of Children : <p style="text-align: right; ">3</p></li>
                <li class="list-group-item">Last Doctor Checkup : <p style="text-align: right; ">12/10/16</p></li>
                <li class="list-group-item">Last Midwife visit : <p style="text-align: right; ">25/10/16 </p></li>
                <li class="list-group-item">Last Clinic Date :<p style="text-align: right; "> 12/10/16</p></li>
               
              </ul>
            </div>
         </div>   
