<div class="col-md-8">
            <h1>Emergancy Contacts</h1>
            <table class="table">
              <thead>
                <tr>
                  <th></th>
                  <th>Occupation</th>
                  <th>Office Address</th>
                  <th>Telephone No</th>
                  <th>Email</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td>Health officer</td>
                  <td>12/Kottawa/Pannipitiya</td>
                  <td>0715632428</td>
                  <td>sdsd@sffr.com</td>
                </tr>
                <tr>
                  <td></td>
                  <td>Midwife</td>
                  <td>23/Arawwala/Maharagama</td>
                  <td>0715623442</td>
                  <td>sdsd@sffr.com</td>
                </tr>
                <tr>
                  <td></td>
                  <td>PHI</td>
                  <td>23/piliyandala</td>
                  <td>0715632458</td>                 
                  <td>sdsd@sffr.com</td>
                </tr>
              </tbody>
            </table>
</div>